.Topbar{
  width:90vw;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
}
.profile{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 2vw;
}
.user{
  display:flex;
}
.userinfo{
  display:flex;
  flex-direction: column;
}
.username{
  font-size: 20px;
  text-align: right;
}
.logout-btn{
  text-align: right;
}
a{
  text-decoration: none;
  color: rgb(122, 122, 122);
}
a:hover{
  color: rgb(51, 51, 51);

}
.input{
  height: 30px;
  width: 160px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 3px;
}
.inputEdit{
  height: 30px;
  width: 160px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 3px;
}
.addshoe{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addBrand{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33vw;
  margin: auto;
}
.Edit{
  display: none
}
#savebtn{
  display: none
}
#marqueInput{
  display: none
}
#logoInput{
  display: none
}
